MONGO_URI=mongodb+srv://NewDent:<db_password>@cluster0.03nxwzv.mongodb.net/new-dent?retryWrites=true&w=majority
JWT_SECRET=un_secreto_seguro
CLIENT_ORIGIN=http://localhost:5173,https://newdent.onrender.com
PORT=4000
ADMIN_EMAIL=ADMIN
ADMIN_NAME=ADMIN
ADMIN_PASSWORD=ADMIN1234
GARIBALDI_EMAIL=GARIBALDI
GARIBALDI_NAME=GARIBALDI
GARIBALDI_PASSWORD=GARIBALDI156
