MONGODB_URI=mongodb+srv://USUARIO:CLAVE@cluster0.xxxxx.mongodb.net/agenda_peluqueria?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
JWT_SECRET=CAMBIA_ESTA_CLAVE_SUPER_SECRETA
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
